@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    background-color: rgb(255, 196, 213, 50%);
    font-family: 'Inter';
}

main {
    background-size: 100%;
    background-image: url(/src/assets/imgs/main-img.svg);
    width: 100%;
    height: 827px;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(246, 0, 105, 43%);
    width: 1225px;
    height: 70px;
    margin-top: 17px;
    gap: 89px;
    justify-content: center;
    border-radius: 30px;
}

a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 131px;
    font-family: "Bebas Neue", sans-serif;
    color: #4D4A4B;
}

.main-container h1 {
    width: 485px;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
}

.main-container p {
    margin-top: -50px;
    text-align: center;
    width: 215px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.about-me-container {
    display: flex;
    justify-content: center;
    margin-top: 87px;
    width: 100%;
<<<<<<< Updated upstream
    gap: 110px;
=======
}

.about-me-container img {
    width: 68px;
    height: 110px;
>>>>>>> Stashed changes
}

.about-me-container p {
    width: 600px;
    color: #4D4A4B;
    font-size: 24px;
}

.about-me-container div img {
    width: 448px;
    height: 440px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.about-me img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 320px;
}

.about-me-container h1 {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 64px;
    color: rgba(246, 0, 105, 0.61);
}

.github {
    display: flex;
    justify-content: center;
    gap: 58px;
}

.github a img {
    margin-left: 50px;
    width: 38px;
    height: 40px;
}

.github a {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F60069;
}