@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    background-color: rgb(255, 196, 213, 50%);
    font-family: 'Inter';
}

main {
    background-size: 100%;
    background-image: url(/src/assets/imgs/main-img.svg);
    width: 100%;
    height: 827px;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(246, 0, 105, 43%);
    width: 1225px;
    height: 70px;
    margin-top: 17px;
    gap: 89px;
    justify-content: center;
    border-radius: 30px;
}

a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 131px;
    font-family: "Bebas Neue", sans-serif;
    color: #4D4A4B;
}

.main-container h1 {
    width: 485px;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
}

.main-container p {
    margin-top: -50px;
    text-align: center;
    width: 215px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.about-me-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 87px;
    width: 100%;

}

.about-me-container img {
    width: 68px;
    height: 110px;
}

.about-me-container img {
    width: 338px;
    height: 110px;
}

.about-me-container p {
    width: 600px;
    color: #4D4A4B;
    font-size: 24px;
}

.about-me-container h1 {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 64px;
    color: rgba(246, 0, 105, 0.61);
}

.about-me-container div img {
    width: 448px;
    height: 440px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
}

.about-me img {
    margin-left: -80px;
    width: 380px;
    height: 110px;
}

.about-me button a p {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F60069;
}

.about-me button {
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.about-me button a img {
    width: 40px;
    height: auto;
}

.portfolio-container {
    background-image: url(/src/assets/imgs/background\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 133px;
    padding-top: 61px;
    gap: 69px;
    padding-bottom: 200px;
}

.portfolio-container button {
    display: flex;
    width: 214px;
    height: 46px;
    border-radius: 10px;
    background-color: rgba(246, 0, 105, 0.43) ;
    border-width: 0px 2px 2px 0px;
    gap: 6.99px;
    align-items: center;
    justify-content: center;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 114px;
}

.projects p {
    width: 602px;
    text-align: start;
    font-weight: 400;
    font-size: 24px;
    color: #4D4A4B;
}

.projects h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #F60069;
    opacity: 61%;
}