@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    background-color: rgb(255, 196, 213, 50%);
}

main {
    background-size: 100%;
    background-image: url(/src/assets/imgs/main-img.svg);
    width: 100%;
    height: 727px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(246, 0, 105, 43%);
    width: 1225px;
    height: 70px;
    margin-top: 17px;
    gap: 89px;
    justify-content: center;
    border-radius: 30px;
}

a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}